<%
opts = {}
opts[:transaction_id] = "#{@order.number}-#{@order.payment.id}"
opts[:amount] = @order.payment.amount
opts[:return_url] = skrill_success_order_checkout_url(@order, :token => @order.token)
opts[:cancel_url] = skrill_cancel_order_checkout_url(@order, :token => @order.token)
opts[:status_url] = skrill_status_update_url
%>

<fieldset id="skrill_payment" data-hook>
  <legend><%= t(:payment_information) %></legend>
  <iframe id="skrill_frame" src="<%= @order.payment_method.redirect_url @order, opts %>"></iframe>
</fieldset>

<hr class="space" />

<p data-hook="change_payment_method">
  <%= link_to t(:change_payment_method), edit_order_checkout_url(@order, :state => 'payment') %>
</p>

<style>
  iframe#skrill_frame{
    border: 0px;
    width: 500px;
    height: 500px;
  }
</style>

